@import "~bulma/sass/utilities/initial-variables"

$scheme-main: $white
$scheme-invert: $black

@media (prefers-color-scheme: dark)
    $scheme-main: $black
    $scheme-invert: $white

.about-img
    padding-right: 1em
    padding-bottom: 1em

.article-tags
    padding-top: 3.5em

@import "~bulma"
