@import "~bulma/sass/utilities/initial-variables"

.icon
    margin: .25em
.icon svg
    height: 1.25em
    width: 1.25em

.about-img
    float: left
    padding-right: 1em
    padding-bottom: 1em

.article-tags
    padding-top: 3.5em

@import "~bulma"
